@import url('../styles/reset.css');

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: rgb(35, 34, 39);
}

.player {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.5);
    z-index: 1;
    margin: 10px;
}

.player__video {
    display: block;
    width: 100%;
    height:100%;
}

.player__main-play-btn {
    position: absolute;
    background-image: url('../assets/svg/play-btn.svg'); 
    background-repeat: no-repeat;
    background-position: center;
    width: 80px;
    height: 80px;
    z-index: -1;
    cursor: pointer;
}
.showOnPause {
    z-index: 1;
    transition: 0.2s;
}
.showOnPause:hover {
    transform: scale(1.2);
}
.showOnPause:active {
    transform: scale(0.9);
}

.control-bar {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgba(21, 18, 26, 0.527);
    height: 40px;
    width: 100%;
    bottom: -30px;
    transition: 0.3s;
}
.control-bar:hover,
.hover {
    bottom: 0;
}
.control-bar:hover .play-btn,
.hover .play-btn,
.control-bar:hover .volume-btn,
.hover .volume-btn,
.control-bar:hover .volume,
.hover .volume {
    display: flex;
}
.control-bar:hover .progress
.hover .progress {
    flex-grow: 0.75;
}
.control-bar:hover .volume,
.hover .volume {
    flex-grow: 0.25;
}

.play-btn {
    background-color: rgba(0, 0, 0, 0.5);
    background-image: url('../assets/svg/play.svg'); 
    background-repeat: no-repeat;
    background-position: center;
    padding: 20px 30px;
    display: none;
    background-size: 30%;
}
.pause {
    background-image: url('../assets/svg/pause.svg'); 
}

.progress {
    display: flex;
    align-items: center;
    flex-grow: 0.75;
    flex-grow: 1;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
.progress:hover {
   cursor: grab;
}
.progress:active {
    cursor: w-resize;
}

.progress__filled {
    height: 100%;
    background-color:rgba(255, 136, 0, 0.2);
    transition: 0.2s;
}
/* .p-container {
    position: relative;
    height: 100%;
    width: 100%;
    outline: green 1px solid;

} */
/* .progress__pointer {
    height: 24px;
    width: 24px;
    border: 1px solid rgba(255, 255, 255, 0.8);
    border-radius: 50%;
    background-color: rgb(105, 90, 74);
    position: relative;
    left: 0px;
} */



.volume-btn {
    background-color: rgba(0, 0, 0, 0.5);
    background-image: url('../assets/svg/volume.svg'); 
    background-repeat: no-repeat;
    background-position: center;
    padding: 20px 20px;
    display: none;
    background-size: 60%;
}

.volume {
    display: flex;
    align-items: center;
    flex-grow: 0;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    padding-right: 2px;
}
.volume__filled {
    height: 100%;
    background-color:rgba(255, 136, 0, 0.2);
    transition: 0.2s;
}
.volume__pointer {
    content: "";
    height: 100%;
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.muted {
    background-image: url('../assets/svg/mute.svg'); 
}

.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    z-index: 0;
    color: rgb(0, 0, 0);
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    bottom: 0;
}
footer > * {
    margin: 10px;
}
.footer__git {
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer__git:hover {
    color: #fff;
    transition: 0.2s;
}
.footer__year {
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer__logo {
    background-image: url('../assets/svg/rs_school_js.svg');
    background-repeat: no-repeat;
    background-position: center;
    align-items: center;
    width: 200px;
    height: 50px;
}
.footer__link:hover {
    transform: scale(1.1);
    transition: 0.2s;
}