/* styles clearing */
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,
*:before,
*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
*,
*:before,
*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
ul,
ol,
li{
	list-style: none;
}
a, 
:focus,
:hover,
:active,
:visited {
	outline: none;
	text-decoration: none;
}
:visited {
  color: inherit;
}
*,
*:before,
*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
body {
  background-color: #000000;
  color: #FFFFFF;

  font-family: 'Inter', sans-serif;
  font-size: 20px;
  line-height: 40px;
  font-weight: 400;
  font-style: normal;
}

/* --- HEADER --------------------- */
.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
  }
.container__header-background {
  display: flex;
  height: 90px;
  background: url('./assets/img/bg.jpg');
  background-repeat: no-repeat;
  background-position: center 0;
}
.container__header-logo {
  margin: auto 0;
  padding-top: 10px;
}
.header__right-pannel, 
.header__nav-item, 
.header__switch-lng {
  display: flex;
  margin: auto 0;
}
.header__right-pannel {
  margin-left: auto;
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  line-height: 50px;
  font-weight: 400;
  font-style: normal;
  width: fit-content;
}

.header__nav-link {
  margin-right: 30px;
}
.header__switch-lng div { 
  font-weight: 700;
  margin-right: 10px;
}
.header__switch-lng div:last-of-type {
  margin-right: 0;
}

.golden {
  color: #BDAE82;
}

/* --- HERO ----------------------------- */
.hero {
  height: 820px;
  padding-top: 200px;
  background-image: url('./assets/img/bg.jpg');
  background-position: center -90px;
  background-repeat: no-repeat;
}
.hero__item{
  height: 330px;
  width: 500px;
  margin-left: 60px;
  padding-right: 20px;
}
h1 {
  font-family: 'Merriweather', serif;
  font-weight: 700;
  font-size: 60px;
  padding-bottom: 50px;
}
.hero__item button {
  margin-top: 25px;
  width: 220px;
  height: 55px;
  background-color: #BDAE82;
  font-family: inherit;
  font-size:  inherit;
}

/* --- h2 HEADINGS ----------------------------- */
.h2__title {
  font-family: 'Merriweather', serif;
  font-weight: 700;
  color: #BDAE82;
  font-size: 40px;
  line-height: 80px;
  background-color: #000000;
  padding: 20px 20px 0 20px;
  margin: 10px auto;
  width: fit-content;

}
.h2__line {
  background-image: linear-gradient(
      to top, 
      #000 39px, 
      #bdae82 39px, 
      #bdae82 41px, 
      #000 41px
    );
    margin: 80px auto 60px auto;
    width: 50%;
 }

/* --- SKILLS ----------------------------- */
.skills-items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 3%;
}
.skill-item {
  background-position: center top;
  background-size: 62px 50px;
  background-repeat: no-repeat;
  flex: 17%;
  padding: 0 18px;
}
.skill-item:nth-child(1) {
  background-image: url('./assets/svg/camera\ 1.svg');
}
.skill-item:nth-child(2) {
  background-image: url('./assets/svg/video\ 1.svg');
}
.skill-item:nth-child(3) {
  background-image: url('./assets/svg/image\ 1.svg');
}
.skill-item:nth-child(4) {
  background-image: url('./assets/svg/mic\ 1.svg');
}
.skill-item p {
  margin-top: 100px;
  text-align: center;
  font-weight: 700;
  line-height: 40px;
}
.skill-item p:nth-child(2) {
  margin-top: 20px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 36px;
  margin-bottom: 10px;
}

/* ---------------- */
.portfolio-btns {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5px;
}
.portfolio-btns button {
  border: #BDAE82 1px solid;
  color: #BDAE82;
  background-color: inherit;
  font-family: inherit;
  font-size:  inherit;
  width: 220px;
  height: 55px;
}
.portfolio-btns button:nth-child(4){
  background-color:#BDAE82;
  color: #000000;
}

.portfolio-items {
  padding-top: 60px;
  display: flex;
  justify-content:space-between;
  flex-wrap: wrap;
  gap: 5px;
  row-gap: 5px;
  margin-bottom: -20px;
}
.portfolio-items > * {
  margin-bottom: 20px;
}

/* --------------------- */
.video-player {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.play-btn {
  position: absolute;
  padding-top: 10px;
}

/* --- PRICE ------------------ */
.price-items {
  display: flex;
  justify-content:space-between;
  flex: 30%;
  gap: 25px;
  /* align-items: center; */
}
.price-item {
  border: #BDAE82 3px solid;
  padding-bottom: 0 auto;
  flex-grow: 1;
}
.price-item span {
  display: block;
  text-align: center;
  font-size: 18px;
  line-height: 36px;
}
.price-item .name {
  font-family: 'Merriweather', serif;
  font-weight: 700;
  font-size: 28px;
  line-height: 56px;
  padding: 40px 0 20px 0;
}
.price-item .price {
  font-family: 'Merriweather', serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 48px;
  padding-bottom: 21px;
  color: #BDAE82;
}
.price-item button {
  display: block;
  margin: 40px auto;
  width: 220px;
  height: 55px;
  background-color: #BDAE82;
  font-family: inherit;
  font-size:  inherit;
}