/* styles clearing */
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,
*:before,
*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
*,
*:before,
*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
ul,
ol,
li{
	list-style: none;
}
a, 
:focus,
:hover,
:active,
:visited {
	outline: none;
	text-decoration: none;
  color: #FFFFFF;
}
:visited {
  color: inherit;
}
*,
*:before,
*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
button { 
  cursor:pointer; 
}
html {
  scroll-behavior:smooth;
}

:root {
  --color-gold: #bdae82;
  --color-black: #000000;
  --fontSizeInter: 20px;
  --line-heightInter: 40px;
  --fontSizeMerriweather: 40px;
}
@media (max-width: 768px) {
  :root {
    --fontSizeInter: 20px;
    --line-heightInter: 24.2px;
    --fontSizeMerriweather: 32px;
  }
}

body {
  background-color: #000000;
  color: #FFFFFF;
  font-family: 'Inter', sans-serif;
  font-size: var(--fontSizeInter);
  line-height: var(--line-heightInter);
  font-weight: 400;
  font-style: normal;
}

/* --- HEADER --------------------- */
.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}
.container__background {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  height: 90px;
  background: url('../portfolio/assets/img/bg.jpg');
  background-repeat: no-repeat;
  background-position: center 0;
}
@media (max-width: 768px) {
  .container__background {
    background-position: -5px -30px; 
    background-size: auto 620px;
  }
} 

.header-logo {
  padding: 20px 20px;
}
.header__right-pannel, 
.header__nav-item, 
.header__switch-lng {
  display: flex;
  margin: auto 0;
}
@media (max-width: 768px) {
  .header__nav-item {
    display: none;
  }
  .header__nav-item {
    max-width: 620px;
    height: 100%;
    position: absolute;
    flex-direction: column;
    z-index: 100;
    margin: auto 100px auto 0;
    padding: 100px;
    line-height: 50px;
  }

  .header__switch-lng {
    margin-right: 20px;
  }
  .header__switch-lng div a {
    margin-left: 11px;
  }
  .header-logo {
    padding-left: 60px;
  }
}
.header__right-pannel {
  margin-left: auto;
  margin-right: 20px;
  font-family: 'Inter', sans-serif;
  font-size: var(--fontSizeInter);
  line-height: 50px;
  font-weight: 400;
  font-style: normal;
  width: fit-content;
}
.header__nav-link:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  transition-duration: 0.2s;
  color: rgb(255, 158, 89);
}
.header__nav-link:active {
  color: #BDAE82;
}
.hero__item button:hover {
  background-image: linear-gradient(90deg, #00C0FF 0%, #FFCF00 49%, #FC4F4F 80%, #00C0FF 100%);
  transform: rotate(1deg);
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1) rotate(2deg);
  transition-duration: 0.5s;
  animation: slidebg 5s linear infinite;
  font-weight:bold;
  font-size: 1.3em;
}
@keyframes slidebg {
  to {
    background-position:20vw;
  }
}
.hero__item button:active {
  -webkit-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
  transition-duration: 0.1s;
}
.header__nav-link {
  margin-right: 31px;
}
.header__switch-lng div { 
  font-weight: 700;
  margin-right: 8px;
}
.header__switch-lng div:last-of-type {
  margin-right: 0;
}
.header__switch-lng div a:hover {
  display: block;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  transition-duration: 0.1s;
  color: rgb(255, 158, 89);
}
.golden {
  color: #BDAE82;
}

/* --- hidden-menu-list ----------------------- */
body {
  overflow-x: auto;
}

@media (max-width: 768px) {
  body.is-active {
    overflow: hidden;
  }
  .navigation.is-active {
    right: 0;
  }
  .header__nav-item.is-active {
    display: flex;
    padding-top: 126px;
    padding-left: 54.8px;
    font-size: 35px;
    line-height: 88.5px;
  }

  .navigation {
    display: flex;
    position: fixed;
    top: 0;
    right: -620px;
    width: 620px;
    height: 100vh;
    background-color: #000000;
    z-index: 2;
    -webkit-transition: right 0.3s ease-in-out;
    -o-transition: right 0.3s ease-in-out;
    transition: right 0.3s ease-in-out;
  }
  .navigation .header__nav-link {
    flex-direction: column;
    margin-top: 134px;
    margin-left: 72px;
    align-items: stretch;
  }
}
@media (max-width: 620px) {
  .navigation {
    width: 100%;
  }
}

/* --- Burger MENU -------------- */

.hamburger .line{
  width: 50px;
  height: 2px;
  background-color: #ecf0f1;
  display: block;
  margin: 11px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.hamburger {
  margin-right: 45px;
  display: none;
}
.hamburger:hover{
  cursor: pointer;
}

.hamburger.is-active .line:nth-child(2){
  opacity: 0;
}
.hamburger.is-active .line:nth-child(1){
  -webkit-transform: translateY(13px) rotate(45deg);
  -ms-transform: translateY(13px) rotate(45deg);
  -o-transform: translateY(13px) rotate(45deg);
  transform: translateY(13px) rotate(45deg);
  width: 60px;
}
.hamburger.is-active {
  margin-right: 40px;
}

.hamburger.is-active .line:nth-child(3){
  -webkit-transform: translateY(-13px) rotate(-45deg);
  -ms-transform: translateY(-13px) rotate(-45deg);
  -o-transform: translateY(-13px) rotate(-45deg);
  transform: translateY(-13px) rotate(-45deg);
  width: 60px;
}

@media (max-width: 768px) {
  .hamburger {
    display: block;
    z-index: 10;
  }
}

/* --- HERO ----------------------- */
.hero {
  height: 820px;
  padding-top: 200px;
  background-image: url('../portfolio/assets/img/bg.jpg');
  background-position: center -90px;
  background-repeat: no-repeat;
}
@media (max-width: 768px) {
  .hero {
  max-height: 500px;
  background-position: -5px -120px;
  background-size: auto 620px;
  padding-top: 98px;
  }
}
.padding_left {
  padding-left: 20px;
}
@media (max-width: 768px) {
  .padding_left {
    padding-left: 0;
  }
}

.hero__item {
  height: 330px;
  width: 500px;
  margin-left: 60px;
  padding-right: 20px;
}
@media (max-width: 768px) {
  .hero__item {
    width: 420px;
  }
}


h1 {
  font-family: 'Merriweather', serif;
  font-weight: 700;
  font-size: calc(var(--fontSizeMerriweather) * 1.5);
  /* font-size: 32px; */
  padding-bottom: 50px;
}
@media (max-width: 768px) {
  h1 {
    font-size: var(--fontSizeMerriweather);
    padding-bottom: 40px;
    font-weight: 400;
  }
}
.hero__item button {
  margin-top: 25px;
  width: 220px;
  height: 55px;
  background-color: #BDAE82;
  font-family: inherit;
  font-size:  inherit;
}
@media (max-width: 768px) {
  .hero__item button {
    margin-top: 59px;
  }
}

/* --- h2 HEADINGS ---------------- */
.h2__title {
  font-family: 'Merriweather', serif;
  font-weight: 700;
  color: #BDAE82;
  font-size: var(--fontSizeMerriweather);
  line-height: 80px;
  background-color: #000000;
  padding: 20px 20px 0 20px;
  margin: 10px auto;
  width: fit-content;
}
@media (max-width: 768px) {
  .h2__title {
    margin: -20px auto -15px auto;
  }
}
.h2__line {
  background-image: linear-gradient(
      to top, 
      #000 39px, 
      #bdae82 39px, 
      #bdae82 41px, 
      #000 41px
    );
    margin: 80px auto 60px auto;
    width: 50%;
 }

/* --- SKILLS -------------------- */
.skills-items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 3%;
}
@media (max-width: 768px) {
  .skills-items {
    gap: 0%;
    margin-left: 20px;
    margin-right: 24px;
  }
}
.skill-item {
  background-position: center top;
  background-size: 62px 50px;
  background-repeat: no-repeat;
  flex: 17%;
  padding: 0 18px;
}
@media (max-width: 768px) {
  .skill-item {
    flex-basis: 40%;
    line-height: 0;
    margin-bottom: 1px;
  }
}

.skill-item:nth-child(1) {
  background-image: url('../portfolio/assets/svg/camera\ 1.svg');
}
.skill-item:nth-child(2) {
  background-image: url('../portfolio/assets/svg/video\ 1.svg');
}
.skill-item:nth-child(3) {
  background-image: url('../portfolio/assets/svg/image\ 1.svg');
}
.skill-item:nth-child(4) {
  background-image: url('../portfolio/assets/svg/mic\ 1.svg');
}
.skill-item p {
  margin-top: 100px;
  text-align: center;
  font-weight: 700;
  line-height: 40px;
}
@media (max-width: 768px) {
  .skill-item p {
    flex-basis: 40%;
    line-height: 0px;
  }
}
.skill-item p:nth-child(2) {
  margin-top: 21px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 36px;
  margin-bottom: 9px;
}
@media (max-width: 768px) {
  .skill-item p:nth-child(2) {
    line-height: 22px;
    margin-top: 42px;
    padding: 0 12px;
    margin-bottom: 75px;
  }
}
/* --- PORTFOLO ------------------- */

.portfolio-btns {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5px;
}
@media (max-width: 768px) {
  .portfolio-btns {
    padding-top: 5px;
    width: 440px;
    margin: 0 auto;
  }
}
.portfolio-btns button {
  border: #BDAE82 1px solid;
  color: #BDAE82;
  background-color: inherit;
  font-family: inherit;
  font-size:  inherit;
  width: 220px;
  height: 55px;
}
@media (max-width: 768px) {
  .portfolio-btns button {
    flex: 49%;
  }
}

.portfolio-btns button:hover {
  background-color:#BDAE82;
  color: #000000;
}
.portfolio-btns button:active {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
  transition-duration: 0.1s;
  background-color:#ece6d1;
}
.portfolio-items {
  padding-top: 60px;
  display: flex;
  justify-content:space-between;
  flex-wrap: wrap;
  gap: 5px;
  row-gap: 5px;
  margin-bottom: -20px;
}
.portfolio-items > * {
  margin-bottom: 20px;
}
@media (max-width: 768px) {
  .portfolio-items img:last-of-type {
    margin-bottom: 0px;
  }
}

.portfolio-items img:hover {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
  transition-duration: 3s;
}
@media (max-width: 768px) {
  .portfolio-items {
    margin: 0 auto;
    justify-content: center;
  }
}

/* --- VIDEO ---------------------- */
.video-player {
  /* position: relative; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 820px; */
  min-height: 705px;
  /* height: 100%; */
  /* padding-top: 200px; */
  background-image: url('../portfolio/assets/img/video-player.jpg');
  /* background-position: center -100px; */
  background-repeat: no-repeat;
  /* outline: #FC4F4F 1px solid; */
}
@media (max-width: 768px) {
  .video-items {
    padding-top: 5px;
  }
  .tablet-hide{
    padding: 0;
  }
  .video-player {
    background-image: url('../portfolio/assets/img/video-player-tablet.jpg');
    min-height: 418px;
  }
}

.play-btn {
  background: none;
}
@media (max-width: 768px) {
  .play-btn svg{
    height: 65px;
    width: 65px;
    margin: auto auto;
  }
}
.play-btn:hover {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
  transition-duration: 0.1s;
}
.play-btn:active {
  -webkit-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
  transition-duration: 0.5s;
}

/* --- PRICE ---------------------- */
.price-items {
  display: flex;
  justify-content: space-between;
  flex: 30%;
  gap: 25px;
}
@media (max-width: 768px) {
  .price-items{
    display: flex;
    flex: wrap;
    flex-direction: column;
    justify-content: space-between;
    gap: 0px;
    padding-top: 5px;
  }
}
.price-item {
  border: #BDAE82 3px solid;
  padding-bottom: 0 auto;
  flex-grow: 1;
}
@media (max-width: 768px) {
  .price-item {
    width: 420px;
    margin: 0 auto 50px auto;
  }
  .price-item:nth-child(3) {
    margin: 0 auto 0px auto;
  }
}

.price-item:hover {
  background:
    repeating-linear-gradient(
      transparent,transparent 10px, rgba(255, 0, 0, 0.1) 14px
    ),
    repeating-linear-gradient(
      90deg,
      transparent,transparent 10px, rgba(255, 0, 0, 0.1) 14px
    );
}
.price-item span {
  display: block;
  text-align: center;
  font-size: 18px;
  line-height: 36px;
}
.price-item .name {
  font-family: 'Merriweather', serif;
  font-weight: 700;
  font-size: 28px;
  line-height: 56px;
  padding: 40px 0 21px 0;
}
.price-item .price {
  font-family: 'Merriweather', serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 48px;
  padding-bottom: 20px;
  color: #BDAE82;
}
.price-item button {
  display: block;
  margin: 39px auto 40px auto;
  width: 220px;
  height: 55px;
  background-color: #BDAE82;
  font-family: inherit;
  font-size:  inherit;
}
.price-item button:hover {
  background-color: #5a6d17;
}
.price-item button:active {
  -webkit-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
  transition-duration: 0.1s;
}

/* --- CONTACS -------------------- */
.contact_me-background {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  margin-top: 100px;
  background-image: url('../portfolio/assets/img/contacts.jpg');
  background-repeat: no-repeat;
  background-position: center 0;
  height: 700px;
}
@media (max-width: 768px) {
  .contact_me-background {
    margin-top: 80px;
    height: 600px;
    background-size: cover;
  }
}

.contact-me__container{
  width: 450px;
  margin: 60px 20px auto auto;
}
@media (max-width: 768px) {
  .contact-me__container {
    width: 450px;
    margin: 52px auto 0 auto;
  }
}

.contact-me {
  font-family: 'Merriweather', serif;
  font-weight: 700;
  color: #BDAE82;
  font-size: var(--fontSizeMerriweather);
  line-height: 80px;
  padding-bottom: 20px;
}
@media (max-width: 768px) {
  .contact-me {
    text-align: center;
    padding-bottom: 12px;
  }
}

input, 
textarea {
  display: block;
  width: 450px;
  height: 50px;
  margin: 20px auto;
  background-color: rgba(0, 0, 0, 0.5);
  border: #BDAE82 2px solid;
  font-family: inherit;
  font-size: inherit;
  padding-left: 18px;
  color: #BDAE82;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
}
textarea {
  height: 100px;
  resize: none;
}
::placeholder {
  color: #BDAE82;
  padding-top: 11px;
}
.message-button {
  display: block;
  margin: 30px 0;
  width: 220px;
  height: 55px;
  background-color: #BDAE82;
  font-family: inherit;
  font-size:  inherit;
}
.message-button:hover {
  background-color: #5a6d17;
  -webkit-transform: scale(1.01);
  -ms-transform: scale(1.01);
  transform: scale(1.01);
  margin-left: 1px;
  transition-duration: 0.2s;
}
.message-button:active {
  -webkit-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
  transition-duration: 0.1s;
}

@media (max-width: 768px) {
  .message-button {
    margin: 30px auto;
  }
  .message-button:hover {
    margin: 30px auto;
  }
  .message-button:active {
    margin: 30px auto;
  }
}
/* --- FOOTER --------------------- */
.footer {
  min-height: 150px;
  display: flex;
}
.footer__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 33%;
  gap: 20px;
}
@media (max-width: 768px) {
  .footer__wrapper {
    flex-direction: column;
    margin: 30px 0;
    justify-content: space-around;
  }
}

.footer__wrapper div {
  line-height: 50px;
  font-size: inherit;
  font-family: inherit;
}
@media (max-width: 768px) {
  .footer__wrapper div, ul {
    line-height: 21px;
  }
}

.footer-data {
  display: flex;
  align-items: baseline;
  gap: 20px;
}

.RSS-link {
  margin-left: 15px;
}
@media (max-width: 768px) {
  .RSS-link {
    margin-left: 0;
    margin-bottom: 10px;
  }
}

.RSS-link a:hover,
.footer-data a:hover {
  color: rgb(241, 138, 64);
}
.RSS-link a:active,
.footer-data a:active {
  color: rgb(216, 174, 144);
}
.social-list {
  display: flex;
  align-items: center;
  gap: 20px;
}
.social-list li svg {
  display: block;
} 
.social-list li svg path:hover {
  fill: rgb(241, 138, 64);
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  transition-duration: 0.1s;
} 