@import url('../styles/reset.css');

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 10px;
    background-color: rgb(35, 34, 39);
}

.player {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: #ff0101 2px solid;
    overflow: hidden;
}

.player__video {
    display: block;
    width: 100%;
}

.player__play-big-btn{
    position: absolute;
    background-image: url('../assets/svg/play-btn.svg'); 
    background-repeat: no-repeat;
    background-position: center;
    width: 80px;
    height: 80px;
    z-index: -1;
    cursor: pointer;
}
.player__play-big-btn--onPause {
    z-index: 1;
    transition: 0.2s;
}
.player__play-big-btn--onPause:hover {
    transform: scale(1.2);
}
.player__play-big-btn--onPause:active {
    transform: scale(0.9);
}

.control-bar {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    outline: #01ff16 2px solid;
    background-color: rgba(21, 18, 26, 0.527);
    height: 60px;
    width: 100%;
    bottom: -50px;
    transition: 0.2s;
}
.control-bar:hover {
    bottom: 0;
}

.control-bar__play-btn {
    background-color: transparent;
    background-image: url('../assets/svg/play.svg'); 
    background-repeat: no-repeat;
    background-position: center;
    height: 30px;
    width: 30px;
}
.control-bar__progress {
    
    width: 100%;
    height: 10px;
    top: 0;
    background-color: black;

}




/*--- CONTROL BAR ---------------------*/
/* 
.control-bar {
    position: absolute;
    background-color: rgba(21, 18, 26, 0.527);
    width: 100%;
    height: 30px;
    bottom: 0;
}
.control-bar__play-btn {
    position: absolute;    
    color: #ffffff;
    background-image: url('../assets/svg/play.svg'); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40%;
    height: 30px;
    width: 30px;
    transition: 0.2s;    
    bottom: 0;
}
.control-bar__play-btn:hover{
    transform: scale(1.2);
    transition: 0.2s;
    background-image: url('../assets/svg/play-mod.svg'); 
}
.pause {
    background-image: url('../assets/svg/pause.svg');
    transition: 0.2s;
}
.pause:hover {
    background-image: url('../assets/svg/pause-mod.svg');
    transform: scale(1.2);
    transition: 0.2s;
}


.onPause {
    
    background-image: url('../assets/svg/play-btn.svg'); 
    background-repeat: no-repeat;
    background-position: center;
    z-index: 100;
    height: 100px;
    width: 100px;
    align-content: center;
    margin: auto; 
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: 0.1s;
} */