@import url('../styles/reset.css');

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 10px;
    background-color: rgb(35, 34, 39);
}

.player {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.5);
}

.player__video {
    display: block;
    width: 100%;
}

.player__main-play-btn {
    position: absolute;
    background-image: url('../assets/svg/play-btn.svg'); 
    background-repeat: no-repeat;
    background-position: center;
    width: 80px;
    height: 80px;
    z-index: -1;
    cursor: pointer;
}
.showOnPause {
    z-index: 1;
    transition: 0.2s;
}
.showOnPause:hover {
    transform: scale(1.2);
}
.showOnPause:active {
    transform: scale(0.9);
}

.control-bar {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgba(21, 18, 26, 0.527);
    height: 40px;
    width: 100%;
    bottom: -30px;
    transition: 0.3s;
}
.control-bar:hover {
    bottom: 0;
}
.control-bar:hover .play-btn,
.control-bar:hover .volume-btn,
.control-bar:hover .volume {
    display: flex;
}
.control-bar:hover .progress {
    flex-grow: 0.75;
}
.control-bar:hover .volume {
    flex-grow: 0.25;
}

.play-btn {
    background-color: rgba(0, 0, 0, 0.5);
    background-image: url('../assets/svg/play.svg'); 
    background-repeat: no-repeat;
    background-position: center;
    padding: 20px 30px;
    display: none;
    background-size: 30%;
}
.pause {
    background-image: url('../assets/svg/pause.svg'); 
}

.progress {
    display: flex;
    align-items: center;
    flex-grow: 0.75;
    flex-grow: 1;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
.progress__filled {
    height: 100%;
    background-color:rgba(255, 136, 0, 0.2);
    /* flex-grow: 0.5; */
    transition: 0.2s;
}

.volume-btn {
    background-color: rgba(0, 0, 0, 0.5);
    background-image: url('../assets/svg/volume.svg'); 
    background-repeat: no-repeat;
    background-position: center;
    padding: 20px 20px;
    display: none;
    background-size: 60%;
}

.volume {
    display: flex;
    align-items: center;
    flex-grow: 0;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
}
.volume__filled {
    height: 100%;
    background-color:rgba(255, 136, 0, 0.2);
    /* flex-grow: 0.5; */
    transition: 0.2s;
}

.muted {
    background-image: url('../assets/svg/mute.svg'); 
}